.utilitynav {
	list-style-type:none;
	position: relative;
	@include clearfix;
	margin: 0;
	li {
		margin-right: 50px;
		display: inline-block;
		line-height: 80%;
	}
	a {
		opacity: .4;
		text-decoration: none;
		font-size: .8em;
		font-weight: 500;
		color: $black;
	}
	a:hover {
		opacity: 1;
		list-style-type:none;
	}
	span {
		color: $black;
	}
}
.mcad {
	width: 6em;
	opacity: .4;
	padding: 5px;
	margin-right: 10px;
}
.mcad:hover {
	opacity: 1;
}