// variables.scss

// Typeface
$font-stack: "franklin-gothic-urw", sans-serif;

// Colors
$white: #fff;
$black: #333;
$lightgrey: #ccc;
$lighter-grey: #eee;
$color-logo-sdo: #23CDFD;

// Category Colors
$coral: #3fa;
$blue: #3ff;
$yellow: #ee3;
$pink: #f4b;
$purple: #e6f;
$red: #f33;
$orange: #f83;