.blogpost {
	border: 1px solid $lightgrey;
	color: $white;
  	margin: 0.5em;
  	width: 100%;
  	height: 300px;
  	float: left;
  	&.block-small {
  		width: 25%;
  	}
  	&.block-medium {
  		width: 32%;
  	}
  	&.block-large {
  		width: 45%;
  	}
  	&:hover {
    	background: turquoise;
	}
	img {
  		margin-top: -120px;
  		z-index: -1;
	}
	h2 {
		margin-top: -10px;
		padding-left: 20px;
    	font-size: 1.8em;
    	line-height: 1.05em;
	}
}
.postdate {
	font-size: .9em;
	float: right;
	padding-right: 20px;
	margin-top: -50px;
}
.category {
	font-size: .9em;
	padding-left: 20px;
	width: 50%;
}