.blogpost {
	border: 1px solid $lightgrey;
	color: $white;
  	margin: 0.5em;
  	width: 30%;
  	height: 300px;
  	background: linear-gradient(turquoise, transparent);
}
.postdate {
	font-size: .9em;
	float: right;
	padding-right: 20px;
	margin-top: -50px;
}
.category {
	font-size: .9em;
	padding-left: 20px;
	width: 50%;
}
.blogpost:hover {
    background: turquoise;
}
.blogpost img {
  	margin-top: -120px;
  	z-index: -1;
}
.blogpost h2 {
	margin-top: -10px;
	padding-left: 20px;
    font-size: 1.8em;
    line-height: 1.05em;
}