// main.scss

@import "variables";
@import "mixins";
@import "globals";

// modules
@import "css-module";
@import "blog-title";
@import "utilitynav";
@import "mainnav";
@import "blogpost";
@import "blogfooter";
@import "socmedia";