.main-nav {
	font-weight: 500;
	font-size: .9em;
	margin-bottom: 2%;
	margin-top: -25px;

	ul {
		@include clearfix;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	li {
	float: left;
	margin-right: .5em;
	padding: 0 0.5em;
	border-bottom: 0.35em solid transparent;
	&:hover {
		border-bottom: 0.35em solid $black;
		}
	}
	a {
	color: $black;
	text-decoration: none;
	padding: 0.5em 0.25em;
	display: inline-block;
	}
}